[submodule "hyndsite/docker-4-devs"]
	path = hyndsite/docker-4-devs
	url = https://github.com/hyndsite/docker-4-devs
[submodule "part-3/hyndsite/docker4dev-react-hmr"]
	path = part-3/hyndsite/docker4dev-react-hmr
	url = https://github.com/hyndsite/docker4dev-react-hmr
