[submodule "part-3/hyndsite/docker4dev-react-hmr"]
	path = part-3/hyndsite/docker4dev-react-hmr
	url = https://github.com/hyndsite/docker4dev-react-hmr
[submodule "part-1-2/hyndsite/docker-4-devs"]
	path = part-1-2/hyndsite/docker-4-devs
	url = https://github.com/hyndsite/docker-4-devs
[submodule "part-4/hyndsite/docker4devs-react-mongo-compose"]
	path = part-4/hyndsite/docker4devs-react-mongo-compose
	url = https://github.com/hyndsite/docker4devs-react-mongo-compose
